<div>
  <link href="./store-banner.css" rel="stylesheet" />
  <div class="store-banner-store-banner">
    <a
      href="https://play.google.com/store/apps/details?id=sticat.stickers.creator.telegram.whatsapp"
      target="_blank"
      rel="noreferrer noopener"
      class="store-banner-link"
    >
      <img
        alt="image"
        src="bcdb0ee2-4833-45c9-8c17-68912cb3385f"
        class="store-banner-image"
      />
    </a>
    <a
      href="https://apps.apple.com/app/id1610095896"
      target="_blank"
      rel="noreferrer noopener"
      class="store-banner-link1"
    >
      <img
        alt="image"
        src="875a4369-08d6-4ee9-801e-005bc9e34873"
        class="store-banner-image1"
      />
    </a>
  </div>
</div>
